*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "kdam thmor pro", sans-serif;
    background-color: black;
    padding: 50px 0;
}

.hide {
    display: none;
}
  
#text {
    z-index: 0;
    width: 50%;
    margin: auto;
    justify-content: center;
    background-color: white;
    border: 9px double black;
    border-radius: 100px;
    padding: 30px 16px;
    text-align: center;
    font-size: x-large;
}

.btn-grid {
    z-index: 0;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 30px 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    transition: 0.3s;
    border-radius: 20px;
    color: black;
    padding: 2px 16px;
    border-style: double;
    border-width: 9px;
    cursor: pointer;
    font-size: x-large;
    font-family: "kdam thmor pro", sans-serif;
}

.card:hover {
    transform: scale(0.9, 0.9);
}

.blue {
    background-color: rgb(36, 58, 255);
    border-color: rgb(71, 129, 255);
}

.green {
    background-color: green;
    border-color: rgb(58, 170, 58);
}

.red {
      background-color: red;
      border-color: rgb(218, 120, 120);
}






