body {
    background-image: url("../img/blank.png ");
    width: 100%;
    height: 100%;
    animation: morph 5s infinite;
    transition: background-image 1s;
}



.ears{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ear1{
    background-color: rgb(108, 73, 73);
    border: 12px double black;
    padding: 30px;
    width: 5%;
    border-radius: 50px;
}

.space {
    width: 12%;
}

.ear2{
    background-color: rgb(108, 73, 73);
    border: 12px double black;
    padding: 30px;
    width: 5%;
    border-radius: 50px;
}

h2 {
    color: black;
}

#start-game {
    font-family: "kdam thmor pro", sans-serif;
    font-size: x-large;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: auto;
    width: 50%;
    border-radius: 20px;
    border: 3px solid black;
    cursor: pointer;
    justify-content: center;
}

.start-game-container {
    background-color: rgb(108, 73, 73);
    width: 20%;
    padding: 20px;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 4px solid black;
    border-radius: 30px;
}

.start-game-container h2 {
    padding: 15px;
}

#games {
    padding: 90px;
}

#games.bed {
    background-image: url("../img/bed.png");
}
#games.tree {
    background-image: url("../img/tree.png");
}
#games.fish {
    background-image: url("../img/fishy.png");
}
#games.blank {
    background-image: url("../img/blank.png");
}
@keyframes morph {
    0% { background-color: rgb(82, 3, 3); }
    33% { background-color: rgb(9, 66, 9); }
    66% { background-color: rgb(4, 4, 90); }
    100% { background-color: rgb(77, 2, 2); }
}